<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ baseURL }}personal.css">
    <link rel="stylesheet" href="{{ baseURL }}message.css">
    <title>個人資料</title>
</head>

<body class="scrolladmin">
    <div id="headerbar">

        <div id="logo" onclick="window.scrollTo(0,0);window.location.href='/loginsuccess';">點餐時刻</div>

        <div id="loginsystem">
            <div class="personbutton" onclick="seepersonal()">{{recordname}}</div>
            <div class="logout-button" onclick="window.location.href='/auth/logout'">登出</div>
        </div>
    </div>

    <div id="main">
        <div id="personpage">
            <form action="/auth/uploadimg" method="post" enctype="multipart/form-data">
                <input type="file" name="image" style="display: none;" id="uploadimginput" />
                <input type="submit" id="uploadperimg" style="display: none;" />
            </form>

            {{#if recordfilename.length}}
            <img src="../uploads/{{recordfilename}}" alt="{{recordfilename}}"
                style="width: 20%; margin: 10px;position:relative;left:49%;transform:translateX(-49%);" id="replaceimg"
                onclick="choseimg()">
            {{else}}
            <div id="personimg" onclick="choseimg()">未上傳頭像</div>
            {{/if}}
            <div id="suremodifyimg" onclick="uploadimg()">修改頭像</div>
            <div id="personanme">名字 : {{recordname}}</div>
            <div id="personemail">信箱 : {{recordemail}}</div>
            <div id="buytimes">點餐次數 : {{recordbuytimes}}次 </div>
            <div id="homelocation">
                <nobr>住址:</nobr>
                <form action="/auth/location" method="post">
                    <input type="text" name="homelocation" id="homelocationinput" value="{{recordhomelocation}}">
                    <button type="submit" id="submitlocation" style="display: none;"></button>
                </form>
                <div class="modifylocation" onclick="submitlocation()">修改</div>

            </div>

            <div class="orderfood" onclick="window.location.href='/auth/goorder'">去點餐</div>

            {{#if recordalert}}
            <div
                style="color: red; background: pink;width:50%;position: relative;left: 50%;transform: translateX(-50%);font-weight:600; font-size:25px;">
                {{recordalert}}
            </div>
            {{/if}}

        </div>
    </div>

    <div id="messagesbtn" onclick="window.location.href='/mymail'">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
            class="bi bi-envelope-fill mailicon" viewBox="0 0 16 16">
            <path
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
        </svg>
    </div>

</body>
<script src="{{ baseURL }}personal.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

</html>